body {

    background-color: blanchedalmond;

}

.container {
   display : center;
    width: 360px;
    margin: 100px auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center

}

h2 {
    text-align: center;
    color: Gray;
    margin-bottom: 30px;
}
.loginForms{
text-align: center
}
#log{
  width: 67%;
    text-align: center;
    color: white;
    background-color: green;
    padding: 3%;
}